/* button and container width/style */
/* background pictures/colors and design, fresh ingredients background pictures*/

nav {
    background: #c4a966;
    padding: 0px 20px;

}

section {
    background-image: url(assets/img/pans.jpg);
    background-size: cover;
    width: 100%;
    height: 900px;
}

.recipes-results {
    margin-top: 28px;
    margin-right: -35px;
    margin-left: 10px
}